<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'assets/bootstrap_4.1.3_dist/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{% static 'assets/imgs/logo.png' %}" type="image/x-icon">

        <title>Supervelha SPA</title>
    </head>
    <body>
        <header class="text-white">
            <nav class="navbar navbar-light bg-transparent">
                <div class="container-fluid">
                    <div class="navbar-brand w-auto"><a href="{% url 'index' %}"><img class="rounded mr-3" src="{% static 'assets/imgs/seta_esquerda.png' %}" alt=""></a><a href="{% url 'index' %}"><img class="rounded" src="{% static 'assets/imgs/logo.png' %}" alt=""></a></div>

                    <div class="d-flex">
                        <a class="btn_nav rounded mr-2 ml-2" href="{% url 'login' %}">Entre</a>
                        <a class="btn_nav rounded mr-2 ml-2" href="#">Sobre o site</a>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <section class="accordion w-50 m-auto py-2 text-white" id="accordion_entrar">
                {% if messages %}
                <div class="alert-container">
                    {% for message in messages %}
                    {% if message.tags == "success" %}
                    <p class="alert-success p-2 rounded"> {{ message }}</p>
                </div>
                    {%else%}
                    <p class="alert-danger p-2 rounded"> {{ message }}</p>
                    {% endif %}
                    {% endfor %}
                
                {% endif %}
                <div class="mb-2" id="heading_one">
                    <button class="btn btn_geral w-100" type="button" data-toggle="collapse" data-target="#formulario_p" aria-expanded="true" aria-controls="formulario_p">Sou professor</button>
                </div>
                
                <!-- formulario_professor-->
                <form class="form collapse mt-2 w-100 bgc_claro rounded p-1 pb-2 shadow" aria-labelledby="heading_one" data-parent="#accordion_entrar" id="formulario_p" action="{% url 'cadastro_professor' %}" method="POST">
                    {% csrf_token %}
                    <label class="row m-2 fonte_media" for="nome_prof">Nome:</label>
                    <input class="rounded w-100 mb-3" type="text" id="nome_prof" name="username" placeholder="Nome de usuário">

                    <label class="row m-2 fonte_media" for="email_prof">Email:</label>
                    <input class="rounded w-100 mb-3" type="email" id="email_prof" name="email" placeholder="Email">

                    <label class="row m-2 fonte_media" for="senha_prof">Senha</label>
                    <input class="rounded w-100 mb-3" type="password" id="senha_prof" name="password" placeholder="Senha">

                    <label class="row m-2 fonte_media" for="confirmacao_prof">Confirmação de senha:</label>
                    <input class="rounded w-100 mb-3" type="password" id="confirmacao_prof" name="cpassword" placeholder="Confirme sua senha">

                    <button class="btn-info rounded row m-auto"><h4>Cadastrar</h4></button>    
                </form>

                <div class="my-2" id="heading_one">
                    <button class="btn btn_geral w-100" type="button" data-toggle="collapse" data-target="#formulario_a" aria-expanded="true" aria-controls="formulario_a">Sou aluno</button>
                </div>

                <!-- formulario_aluno-->
                <form class="form collapse mt-2 w-100 bgc_claro rounded p-1 pb-2 shadow" aria-labelledby="heading_one" data-parent="#accordion_entrar" id="formulario_a" action="{% url 'cadastro_aluno' %}" method="POST">
                    {% csrf_token %}
                    <label class="row m-2 fonte_media" for="nome_aluno">Nome:</label>
                    <input class="rounded w-100 mb-3" type="text" id="nome_aluno" name="username" placeholder="Nome de usuário">

                    <label class="row m-2 fonte_media" for="email_aluno">Email:</label>
                    <input class="rounded w-100 mb-3" type="email" id="email_aluno" name="email" placeholder="Email">

                    <label class="row m-2 fonte_media" for="senha_aluno">Senha</label>
                    <input class="rounded w-100 mb-3" type="password" id="senha_aluno" name="password" placeholder="Senha">

                    <label class="row m-2 fonte_media" for="confirmacao_aluno">Confirmação de senha:</label>
                    <input class="rounded w-100 mb-3" type="password" id="confirmacao_aluno" name="cpassword" placeholder="Confirme sua senha">

                    <button class="btn-info rounded row m-auto"><h4>Cadastrar</h4></button>      
                </form>
            </section>
        </main>
        <object class="w-100 obj_footer" data="{% static 'assets/paginas/footer.html' %}" type="text/html"></object>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>