<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'assets/bootstrap_4.1.3_dist/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="shortcut icon" href="{% static 'assets/imgs/logo.png' %}" type="image/x-icon">
        
        <title>Editar Detalhes</title>
    </head>
    <body>
        <header class="text-white">
            <nav class="navbar navbar-light bg-transparent">
                <div class="container-fluid">
                    <div class="navbar-brand w-auto"><a href="{% url 'visualizar_turma' turma.codigo %}"><img class="rounded mr-3" src="{% static 'assets/imgs/seta_esquerda.png' %}" alt=""></a><a href="{% url 'index' %}"><img class="rounded" src="{% static 'assets/imgs/logo.png' %}" alt=""></a></div>

                    <div class="d-flex">
                        <a class="btn_nav rounded mr-2 ml-2" href="{% url 'perfil_professor' %}">Perfil</a>

                        <!-- BOTAO DE SAIR DO SITE -->
                        <button type="button" class="btn_nav rounded mr-2 ml-2" onclick="abrir_modal('vis_modal')">Sair</button>

                    </div>

                    <!-- MODAL PARA USUARIO CONFIRMAR SE DESEJA SAIR DO SITE -->
                    <div class="position-fixed w-100 pt-5 modal_sair" id="vis_modal">
                        <div class="conteudo_modal m-auto bg-light rounded text-center">
                            <div>
                                <h3 class="p-3 my-0 py-0">Tem certeza que deseja sair do site?</h3>
                            </div>
                            <div>
                                <button type="button" class="btn m-3 pr-3 pl-3 btn_geral" onclick="fechar_modal('vis_modal')">Voltar</button>
                                <a href="{% url 'logout' %}"><button type="button" class="btn m-3 pr-3 pl-3 btn_geral">Sair</button></a>
                            </div>
                        </div>
                    </div>
                    <!-- FIM MODAL -->

                </div>
            </nav>
        </header>
        <main>
            <section class="m_lados_15 text-white">
                {% if messages %}
                <div class="alert-container">
                    {% for message in messages %}
                    {% if message.tags == "success" %}
                    <p class="alert-success p-2 rounded"> {{ message }}</p>
                </div>
                    {%else%}
                    <p class="alert-danger p-2 rounded"> {{ message }}</p>
                    {% endif %}
                    {% endfor %}
                
                {% endif %}
                <form class="form mt-2 w-100 bgc_claro rounded p-1 pb-2 shadow" action="{% url 'editar_detalhes_turma' turma.codigo %}" method="POST">
                    {% csrf_token %}   
                    <h3 class="text-white">Editar Turma</h3>

                    <label class="row m-2 fonte_media" for="nome">Nome da turma:</label>
                    <input class="rounded w-100 mb-3" type="text" id="nome" name="nome" placeholder="Nome de turma">

                    <label class="row m-2 fonte_media" for="capacidade">Capacidade:</label>
                    <input class="rounded w-25 mb-3" type="number" min="1" id="capacidade" name="capacidade" placeholder="Número máximo de alunos">

                    <button class="btn-info rounded row m-auto" type="submit">Concluir</button>    
                </form>
                
            </section>
        </main>
        <object class="w-100 obj_footer" data="{% static 'assets/paginas/footer.html' %}" type="text/html"></object>
        <script src="{% static 'assets/js/script.js' %}"></script>
    </body>
</html>