<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'assets/bootstrap_4.1.3_dist/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="shortcut icon" href="{% static 'assets/imgs/logo.png' %}" type="image/x-icon">

        <title>Perfil</title>
    </head>
    <body>
        <header class="text-white">
            <nav class="navbar navbar-light bg-transparent">
                <div class="container-fluid">
                    <div class="navbar-brand w-auto"><a href="{% url 'inicio_professor' %}"><img class="rounded mr-3" src="{% static 'assets/imgs/seta_esquerda.png' %}" alt=""></a><a href="{% url 'index' %}"><img class="rounded" src="{% static 'assets/imgs/logo.png' %}" alt=""></a></div>
                    <div class="d-flex">

                        <!-- BOTAO DE SAIR DO SITE -->
                        <button type="button" class="btn_nav rounded mr-2 ml-2" onclick="abrir_modal('vis_modal')">Sair</button>

                    </div>

                    <!-- MODAL PARA USUARIO CONFIRMAR SE DESEJA SAIR DO SITE -->
                    <div class="position-fixed w-100 pt-5 modal_sair" id="vis_modal">
                        <div class="conteudo_modal m-auto bg-light rounded text-center">
                            <div>
                                <h3 class="p-3 my-0 py-0">Tem certeza que deseja sair do site?</h3>
                            </div>
                            <div>
                                <button type="button" class="btn m-3 pr-3 pl-3 btn_geral" onclick="fechar_modal('vis_modal')">Voltar</button>
                                <a href="{% url 'logout' %}"><button type="button" class="btn m-3 pr-3 pl-3 btn_geral">Sair</button></a>
                            </div>
                        </div>
                    </div>
                    <!-- FIM MODAL -->

                </div>
            </nav>
        </header>
        <main>
            <section>
                {% if messages %}
                <ul class="messages">
                  {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }}</p>
                  {% endfor %}
                </ul>
                {% endif %}
                <p><b>Nome de usuário: </b>{{user.username}}</p>
                <p><b>Nome: </b>{{user.first_name}}</p>
                <p><b>E-mail: </b>{{user.email}}</p>
                <button type="button" class="btn_nav rounded mr-2 ml-2" onclick="abrir_modal('vis_modal_editar_perfil')">Editar Perfil</button>
                <!-- MODAL PARA USUARIO CONFIRMAR SE DESEJA SAIR DO SITE -->
                <div class="position-fixed w-100 pt-5 modal_sair" id="vis_modal_editar_perfil">
                    <div class="conteudo_modal m-auto bg-light rounded text-center">
                        <div>
                            <h3 class="p-3 my-0 py-0">Editar Perfil</h3>
                            <form class="form mt-2 w-100 bgc_claro rounded p-1 pb-2 shadow" action="{% url 'editar_usuario' %}" method="POST">
                                {% csrf_token %}
                                <label class="row m-2 fonte_media" for="nome_prof">Nome de usuário:</label>
                                <input class="rounded w-100 mb-3" type="text" id="username" name="username" placeholder="Nome de usuário" value="{{ user.username }}">
                                <label class="row m-2 fonte_media" for="email_prof">Email:</label>
                                <input class="rounded w-100 mb-3" type="email" id="email" name="email" placeholder="Email" value="{{ user.email }}">
                                <label class="row m-2 fonte_media" for="email_prof">Nome:</label>
                                <input class="rounded w-100 mb-3" type="text" id="nome" name="nome" placeholder="Nome" value="{{ user.first_name }}">
                                <button type="button" class="btn m-3 pr-3 pl-3 btn_geral" onclick="fechar_modal('vis_modal_editar_perfil')">Cancelar</button>
                                <button class="btn m-3 pr-3 pl-3 btn_geral"><h4>Salvar</h4></button>
                            </form>   
                        </div>
                    </div>
                </div>
                <!-- FIM MODAL -->
                <button type="button" class="btn_nav rounded mr-2 ml-2" onclick="abrir_modal('vis_modal_excluir_conta')">Excluir Conta</button>
                <!-- MODAL PARA USUARIO CONFIRMAR SE DESEJA SAIR DO SITE -->
                <div class="position-fixed w-100 pt-5 modal_sair" id="vis_modal_excluir_conta">
                    <div class="conteudo_modal m-auto bg-light rounded text-center">
                        <div>
                            <h3 class="p-3 my-0 py-0">Tem certeza que deseja excluir sua conta? Esta ação é irreversível e você perderá todos os seus dados!</h3>
                        </div>
                    <div>
                        <button type="button" class="btn m-3 pr-3 pl-3 btn_geral" onclick="fechar_modal('vis_modal_excluir_conta')">Cancelar</button>
                            <a href="{% url 'excluir_usuario' %}"><button type="button" class="btn m-3 pr-3 pl-3 btn_geral">Excluir</button></a>
                        </div>
                    </div>
                </div>
                <!-- FIM MODAL -->
            </section>
        </main>
        <object class="w-100 obj_footer" data="{% static 'assets/paginas/footer.html' %}" type="text/html"></object>
        <script src="{% static 'assets/js/script.js' %}"></script>
    </body>
</html>