<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'assets/bootstrap_4.1.3_dist/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="shortcut icon" href="{% static 'assets/imgs/logo.png' %}" type="image/x-icon">
        <title>Questionário</title>
    </head>
    <body>
        <button class="custom-range:focus d-flex form-inline position-fixed rounded rolar_cima p-2 grad_amarelo" onclick="voltar_cima();">
            <img class="w-100 rounded" src="{% static 'assets/imgs/seta_cima.png' %}" alt="">
        </button>
        <header class="text-white">
            <nav class="navbar navbar-light bg-transparent">
                <div class="container-fluid">
                    <div class="navbar-brand w-auto"><a href="{% url 'index' %}"><img class="rounded p-1 grad_amarelo" src="{% static 'assets/imgs/logo.png' %}" alt=""> SPA</a></div>

                    <div class="d-flex">
                        <a class="btn_nav rounded mr-2 ml-2" href="{% url 'perfil' %}">Perfil</a>

                        <!-- BOTAO DE SAIR DO SITE -->
                        <button type="button" class="btn_nav rounded mr-2 ml-2" onclick="abrir_modal('vis_modal')">Sair</button>

                    </div>

                    <!-- MODAL PARA USUARIO CONFIRMAR SE DESEJA SAIR DO SITE -->
                    <div class="position-fixed w-100 pt-5 modal_sair" id="vis_modal">
                        <div class="conteudo_modal m-auto bg-light rounded text-center">
                            <div>
                                <h3 class="p-3 my-0 py-0">Tem certeza que deseja sair do site?</h3>
                            </div>
                            <div>
                                <button type="button" class="btn m-3 pr-3 pl-3 btn_geral" onclick="fechar_modal('vis_modal')">Voltar</button>
                                <a href="{% url 'logout' %}"><button type="button" class="btn m-3 pr-3 pl-3 btn_geral">Sair</button></a>
                            </div>
                        </div>
                    </div>
                    <!-- FIM MODAL -->

                </div>
            </nav>
        </header>
        <main>
            <section class="m_lados_15 text-white border rounded p-3">
                <article class="text-white rounded my-3">
                    <div class="d-flex">
                        <a class="grad_amarelo rounded sombra mr-2 sombra quadrado_40 pt-1" href="{% url 'questionarios' questionario.turma_id %}"><img class="rounded" src="{% static 'assets/imgs/seta_esquerda.png' %}" alt=""></a>
                        <h3 class="text-center">Questionário: {{ questionario.enunciado }}</h3>
                    </div>
                </article>
                <article>
                    
                    <p>Abertura: {{ questionario.abertura }}</p>
                    <p>Fechamento: {{ questionario.fechamento }}</p>
                    {% if questionario.publico %}
                    <p>Público: Sim</p>
                    {% else %}
                    <p>Público: Não</p>
                    {% endif %}
                    <p>{{ questionario.quantidade_perguntas }} questões</p>
                    <button type="button" class="btn_geral rounded mr-2 ml-2" onclick="abrir_modal('vis_modal_questionario')">Editar questionário</button>
                    <!-- MODAL PARA EDITAR QUESTIONARIO -->
                    <article class="position-fixed w-100 pt-5 modal_sair" id="vis_modal_questionario">
                        <div class="conteudo_modal m-auto rounded text-center">
                            <div>
                                <form class="form w-100 bgc_claro rounded p-1 pb-2 shadow" action="{% url 'editar_questionario' questionario.id %}" method="POST">
                                    {% csrf_token %}
                                    <h3 class="p-3 my-0 py-0 ">Editar questionário {{ questionario.enunciado }}</h3>
                                
                                    <label class="row m-2 fonte_media" for="enunciado">Enunciado:</label>
                                    <textarea class="rounded mb-3" id="enunciado" name="enunciado" value="{{ questionario.enunciado }}" placeholder="Digite o novo enunciado do questionário" minlength="1" maxlength="1000" rows=3 cols=60 required></textarea>
                                    <label class="row m-2 fonte_media" for="abertura">Abertura:</label>
                                    <input type="datetime-local" id="abertura" name="abertura" value="{{ questionario.abertura }} required">
                                    <label class="row m-2 fonte_media" for="fechamento">Fechamento:</label>
                                    <input type="datetime-local" id="fechamento" name="fechamento" value="{{ questionario.fechamento }} ">
                                    <p></p>
                                    <button type="button" class="btn m-3 pr-3 pl-3 btn_geral" onclick="fechar_modal('vis_modal_questionario')">Voltar</button>
                                    <button class="btn m-3 pr-3 pl-3 btn_geral">Salvar</button>      
                                </form>
                            </div>
                        </div>
                    </article>
                    <!-- FIM MODAL -->
                </article>
                {% if messages %}
                <div class="alert-container">
                    {% for message in messages %}
                    {% if message.tags == "success" %}
                    <p class="alert-success p-2 rounded"> {{ message }}</p>
                </div>
                    {%else%}
                    <p class="alert-danger p-2 rounded"> {{ message }}</p>
                    {% endif %}
                    {% endfor %}
                
                {% endif %}
                <h3 class="bgc_claro px-3 text-center">Questões</h3>
                {% if not questionario.publico %}
                    <form class="form mt-2 w-100 bgc_claro rounded p-1 pb-2 shadow" action="{% url 'adicionar_questao' questionario.id %}" method="POST">
                        {% csrf_token %}
                        <h3 class="text-white">Adicionar questão:</h3>

                        <label class="row m-2 fonte_media" for="aluno">Enunciado:</label>
                        <textarea class="rounded mb-3" id="enunciado" name="enunciado" placeholder="Digite o enunciado da questão" minlength="1" maxlength="1000" rows=3 cols=60 required></textarea>
                        <button class="btn_nav rounded row m-auto" type="submit">Adicionar</button>    
                    </form>
                {% endif %}
                {% for questao in questoes %}
                <article>
                    <p>Questão: {{ questao.enunciado }}
                        {% if not questionario.publico %}
                        <button class="btn_geral rounded" data-target="#vis_modal_questao{{questao.id}}" onclick="abrir_modal('vis_modal_questao{{questao.id}}')">Editar</button> 
                        <a href="{% url 'remover_questao' questionario.id questao.id %}"><button class="btn_geral rounded">Remover questão</button></a></p>
                        {% endif %}
                        <!-- MODAL PARA EDITAR QUESTAO -->
                        <article class="position-fixed w-100 pt-5 modal_sair" id="vis_modal_questao{{questao.id}}">
                            <div class="conteudo_modal m-auto bg-light rounded text-center">
                                <div>
                                    <form class="form mt-2 w-100 bgc_claro rounded p-1 pb-2 shadow" action="{% url 'editar_questao' questionario.id questao.id %}" method="POST">
                                        {% csrf_token %}
                                        <h3 class="p-3 my-0 py-0">Editar questão</h3>
                                        <label class="row m-2 fonte_media" for="enunciado">Enunciado:</label>
                                        <textarea class="rounded mb-3" id="enunciado" name="enunciado" placeholder="Digite o enunciado da questão" minlength="1" maxlength="1000" rows=3 cols=60 value="{{ questao.enunciado }}" required></textarea>
                                        <button type="button" class="btn m-3 pr-3 pl-3 btn_geral" onclick="fechar_modal('vis_modal_questao{{questao.id}}')">Voltar</button>
                                        <button class="btn m-3 pr-3 pl-3 btn_geral">Salvar</button>    
                                    </form>
                                </div>
                            </div>
                        </article>
                        <!-- FIM MODAL -->
                </article>
                {% endfor %}
                {% if not questionario.publico %}
                    <button type="button" class="btn_nav rounded mr-2 ml-2" onclick="abrir_modal('vis_modal_publicar')">Publicar Questionario</button>
                {% endif %}
                <!-- MODAL PARA PROFESSOR CONFIRMAR PUBLICACAO -->
                <div class="position-fixed w-100 pt-5 modal_sair" id="vis_modal_publicar">
                    <div class="conteudo_modal m-auto bg-light rounded text-center">
                        <div>
                            <h3 class="p-3 my-0 py-0">Tem certeza que deseja publicar o questionário? Ao fazer isso não será possível remover ou adicionar novas perguntas.</h3>
                        </div>
                        <div>
                            <button type="button" class="btn m-3 pr-3 pl-3 btn_geral" onclick="fechar_modal('vis_modal_publicar')">Voltar</button>
                            <a href="{% url 'publicar_questionario' questionario.id %}"><button type="button" class="btn m-3 pr-3 pl-3 btn_geral">Publicar</button></a>
                        </div>
                    </div>
                </div>
                <!-- FIM MODAL -->
                {% if questionario.publico %}
                <a href="{% url 'verificar_respostas' questionario.id %}"><button type="button" class="btn m-3 pr-3 pl-3 btn_geral">Verificar Respostas</button></a>
                {% endif %}
                <section>
            </section>
        </main>
        <object class="w-100 obj_footer" data="{% static 'assets/paginas/footer.html' %}" type="text/html"></object>
        <script src="{% static 'assets/js/script.js' %}"></script>
    </body>
</html>