<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'assets/bootstrap_4.1.3_dist/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="shortcut icon" href="{% static 'assets/imgs/logo.png' %}" type="image/x-icon">
        
        <title>Questionários</title>
    </head>
    <body>
        <header class="text-white">
            <nav class="navbar navbar-light bg-transparent">
                <div class="container-fluid">
                    <div class="navbar-brand w-auto"><a href="{% url 'visualizar_turma' turma.codigo %}"><img class="rounded mr-3" src="{% static 'assets/imgs/seta_esquerda.png' %}" alt=""></a><a href="{% url 'index' %}"><img class="rounded" src="{% static 'assets/imgs/logo.png' %}" alt=""></a></div>

                    <div class="d-flex">
                        <a class="btn_nav rounded mr-2 ml-2" href="{% url 'perfil' %}">Perfil</a>

                        <!-- BOTAO DE SAIR DO SITE -->
                        <button type="button" class="btn_nav rounded mr-2 ml-2" onclick="abrir_modal('vis_modal')">Sair</button>

                    </div>

                    <!-- MODAL PARA USUARIO CONFIRMAR SE DESEJA SAIR DO SITE -->
                    <div class="position-fixed w-100 pt-5 modal_sair" id="vis_modal">
                        <div class="conteudo_modal m-auto bg-light rounded text-center">
                            <div>
                                <h3 class="p-3 my-0 py-0">Tem certeza que deseja sair do site?</h3>
                            </div>
                            <div>
                                <button type="button" class="btn m-3 pr-3 pl-3 btn_geral" onclick="fechar_modal('vis_modal')">Voltar</button>
                                <a href="{% url 'logout' %}"><button type="button" class="btn m-3 pr-3 pl-3 btn_geral">Sair</button></a>
                            </div>
                        </div>
                    </div>
                    <!-- FIM MODAL -->

                </div>
            </nav>
        </header>
        <main>
            <section class="m_lados_15 text-white border rounded p-3">
                <h2 class="bgc_claro px-3 text-center">Questionários</h2>

                {% if messages %}
                <div class="alert-container">
                    {% for message in messages %}
                    {% if message.tags == "success" %}
                    <p class="alert-success p-2 rounded"> {{ message }}</p>
                </div>
                    {%else%}
                    <p class="alert-danger p-2 rounded"> {{ message }}</p>
                    {% endif %}
                    {% endfor %}
                
                {% endif %}
                
                <!-- MODAL PARA EDITAR QUESTAO -->
                <button type="button" class="btn_geral rounded mr-2 ml-2" onclick="abrir_modal('vis_modal_add_questionario')">Adicionar questionário</button>
                <article class="position-fixed w-100 pt-5 modal_sair" id="vis_modal_add_questionario">
                    <div class="conteudo_modal m-auto bg-light rounded text-center">
                        <div>
                            <form class="form mt-2 w-100 bgc_claro rounded p-1 pb-2 shadow" action="{% url 'criar_questionario' turma.codigo %}" method="POST">
                                {% csrf_token %}
                                <h3 class="p-3 my-0 py-0">Adicionar questionário</h3>
                                <label class="row m-2 fonte_media" for="enunciado">Enunciado:</label>
                                <textarea class="rounded mb-3" id="enunciado" name="enunciado" placeholder="Digite o enunciado do questionário" minlength="1" maxlength="1000" rows=3 cols=60 required></textarea>
                                <label class="row m-2 fonte_media" for="abertura">Abertura:</label>
                                <input type="datetime-local" id="abertura" name="abertura" required/>
                                <label class="row m-2 fonte_media" for="fechamento">Fechamento:</label>
                                <input type="datetime-local" id="fechamento" name="fechamento" required/>
                                <p></p>
                                <button type="button" class="btn m-3 pr-3 pl-3 btn_geral" onclick="fechar_modal('vis_modal_add_questionario')">Voltar</button>
                                <button class="btn m-3 pr-3 pl-3 btn_geral">Adicionar</button>    
                            </form>
                        </div>
                    </div>
                </article>
                <!-- FIM MODAL -->
                {% for questionario in questionarios %}
                <div>
                    <h3 class="bgc_claro px-3 text-center">Questionário: {{ questionario.enunciado }}</h3>
                    <p>Abertura: {{ questionario.abertura }}</p>
                    <p>Fechamento: {{ questionario.fechamento }}</p>
                    <p>{{ questionario.quantidade_perguntas }} questões</p>
                    <a href="{% url 'visualizar_questionario' questionario.id %}"><button type="button" class="btn m-3 pr-3 pl-3 btn_geral">Visualizar questionário</button></a>
                    <button type="button" class="btn m-3 pr-3 pl-3 btn_geral" onclick="abrir_modal('vis_modal_excluir_questionario{{questionario.id}}')">Excluir questionário</button>
                </div>
                <!-- MODAL PARA CONFIRMAR EXCLUIR QUESTIONARIO -->
                <div class="position-fixed w-100 pt-5 modal_sair" id="vis_modal_excluir_questionario{{questionario.id}}">
                    <div class="conteudo_modal m-auto bg-light rounded text-center">
                        <div>
                            <h3 class="p-3 my-0 py-0">Você tem certeza que quer excluir o questionário {{ questionario.enunciado }}? Esta ação é irreversível! </h3>
                        </div>
                        <div>
                            <button type="button" class="btn m-3 pr-3 pl-3 btn_geral" onclick="fechar_modal('vis_modal_excluir_questionario{{questionario.id}}')">Voltar</button>
                            <a href="{% url 'excluir_questionario' turma.codigo questionario.id %}"><button type="button" class="btn m-3 pr-3 pl-3 btn_geral">Excluir questionário</button></a>
                         </div>
                    </div>
                </div>
                <!-- FIM MODAL -->
                {% endfor %}
                
            </section>
        </main>
        <object class="w-100 obj_footer" data="{% static 'assets/paginas/footer.html' %}" type="text/html"></object>
        <script src="{% static 'assets/js/script.js' %}"></script>
    </body>
</html>