<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'assets/bootstrap_4.1.3_dist/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="shortcut icon" href="{% static 'assets/imgs/logo.png' %}" type="image/x-icon">
        <title>Turma</title>
    </head>
    <body>
        <header class="text-white">
            <nav class="navbar navbar-light bg-transparent">
                <div class="container-fluid">
                    <div class="navbar-brand w-auto"><a href="{% url 'minhas_turmas' %}"><img class="rounded mr-3" src="{% static 'assets/imgs/seta_esquerda.png' %}" alt=""></a><a href="{% url 'index' %}"><img class="rounded" src="{% static 'assets/imgs/logo.png' %}" alt=""></a></div>

                    <div class="d-flex">
                        <a class="btn_nav rounded mr-2 ml-2" href="{% url 'perfil_professor' %}">Perfil</a>

                        <!-- BOTAO DE SAIR DO SITE -->
                        <button type="button" class="btn_nav rounded mr-2 ml-2" onclick="abrir_modal('vis_modal')">Sair</button>

                    </div>

                    <!-- MODAL PARA USUARIO CONFIRMAR SE DESEJA SAIR DO SITE -->
                    <div class="position-fixed w-100 pt-5 modal_sair" id="vis_modal">
                        <div class="conteudo_modal m-auto bg-light rounded text-center">
                            <div>
                                <h3 class="p-3 my-0 py-0">Tem certeza que deseja sair do site?</h3>
                            </div>
                            <div>
                                <button type="button" class="btn m-3 pr-3 pl-3 btn_geral" onclick="fechar_modal('vis_modal')">Voltar</button>
                                <a href="{% url 'logout' %}"><button type="button" class="btn m-3 pr-3 pl-3 btn_geral">Sair</button></a>
                            </div>
                        </div>
                    </div>
                    <!-- FIM MODAL -->

                </div>
            </nav>
        </header>
        <main>
            <section>
                <article>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }}</p>
                    {% endfor %}
                </ul>
                {% endif %}
                    <h3>Turma: {{ turma.nome }}</h3>
                    <p>Código: {{ turma.codigo }}</p>
                    <p>Capacidade: {{ turma.capacidade }}</p>
                    <p>Quantidade de Alunos: {{ turma.quantidade_alunos }}</p>
                    <a href="{% url 'questionarios' turma.codigo %}"><button type="button" class="btn m-3 pr-3 pl-3 btn_geral">Questionários</button></a>
                    <a href="{% url 'editar_detalhes_turma' turma.codigo %}"><button type="button" class="btn m-3 pr-3 pl-3 btn_geral">Editar Turma</button></a>
                </article>
                <h3>Alunos</h3>
                {% if turma.quantidade_alunos < turma.capacidade %}
                <form class="form mt-2 w-100 bgc_claro rounded p-1 pb-2 shadow" action="{% url 'adicionar_aluno' turma.codigo %}" method="POST">
                    {% csrf_token %}
                    <h3 class="text-white">Adicionar Aluno</h3>

                    <label class="row m-2 fonte_media" for="aluno">Nome de usuário:</label>
                    <input class="rounded w-100 mb-3" type="text" id="aluno" name="aluno" placeholder="Nome de usuário" required>
                    <button class="btn-info rounded row m-auto" type="submit"><h4>Adicionar</h4></button>    
                </form>
                {% else %}
                <p>Turma cheia, não é possível adicionar mais alunos.</p>
                {% endif %}
                {% for aluno in alunos %}
                <article>
                    <p>Aluno: {{ aluno.username }} <a href="{% url 'remover_aluno' turma.codigo aluno.username %}"><button class="btn_geral rounded">Remover Aluno</button></a></p>
                </article>
                {% endfor %}
                <button type="button" class="btn m-3 pr-3 pl-3 btn_geral" onclick="abrir_modal('vis_modal_excluir_turma')">Excluir Turma</button>
                <!-- MODAL PARA CONFIRMAR EXCLUIR TURMA -->
                <div class="position-fixed w-100 pt-5 modal_sair" id="vis_modal_excluir_turma">
                    <div class="conteudo_modal m-auto bg-light rounded text-center">
                        <div>
                            <h3 class="p-3 my-0 py-0">Você tem certeza que quer excluir a turma {{ turma.nome }}? Esta ação é irreversível! </h3>
                        </div>
                        <div>
                            <button type="button" class="btn m-3 pr-3 pl-3 btn_geral" onclick="fechar_modal('vis_modal_excluir_turma')">Voltar</button>
                            <a href="{% url 'excluir_turma' turma.codigo %}"><button type="button" class="btn m-3 pr-3 pl-3 btn_geral">Excluir Turma</button></a>
                         </div>
                    </div>
                </div>
                <!-- FIM MODAL -->
            </section>
        </main>
        <object class="w-100 obj_footer" data="{% static 'assets/paginas/footer.html' %}" type="text/html"></object>
        <script src="{% static 'assets/js/script.js' %}"></script>
    </body>
</html>