<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'assets/bootstrap_4.1.3_dist/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="shortcut icon" href="{% static 'assets/imgs/logo.png' %}" type="image/x-icon">
        <title>Turma</title>
    </head>
    <body>
        <header class="text-white">
            <nav class="navbar navbar-light bg-transparent">
                <div class="container-fluid">
                    <div class="navbar-brand w-auto"><a href="{% url 'minhas_turmas' %}"><img class="rounded mr-3" src="{% static 'assets/imgs/seta_esquerda.png' %}" alt=""></a><a href="{% url 'index' %}"><img class="rounded" src="{% static 'assets/imgs/logo.png' %}" alt=""></a></div>

                    <div class="d-flex">
                        <a class="btn_nav rounded mr-2 ml-2" href="{% url 'perfil_aluno' %}">Perfil</a>

                        <!-- BOTAO DE SAIR DO SITE -->
                        <button type="button" class="btn_nav rounded mr-2 ml-2" onclick="abrir_modal('vis_modal')">Sair</button>

                    </div>

                    <!-- MODAL PARA USUARIO CONFIRMAR SE DESEJA SAIR DO SITE -->
                    <div class="position-fixed w-100 pt-5 modal_sair" id="vis_modal">
                        <div class="conteudo_modal m-auto bg-light rounded text-center">
                            <div>
                                <h3 class="p-3 my-0 py-0">Tem certeza que deseja sair do site?</h3>
                            </div>
                            <div>
                                <button type="button" class="btn m-3 pr-3 pl-3 btn_geral" onclick="fechar_modal('vis_modal')">Voltar</button>
                                <a href="{% url 'logout' %}"><button type="button" class="btn m-3 pr-3 pl-3 btn_geral">Sair</button></a>
                            </div>
                        </div>
                    </div>
                    <!-- FIM MODAL -->

                </div>
            </nav>
        </header>
        <main>
            <section class="m_lados_15 text-white border rounded p-3">
                <article>
                    {% if messages %}
                    <div class="alert-container">
                        {% for message in messages %}
                        {% if message.tags == "success" %}
                        <p class="alert-success p-2 rounded"> {{ message }}</p>
                    </div>
                        {%else%}
                        <p class="alert-danger p-2 rounded"> {{ message }}</p>
                        {% endif %}
                        {% endfor %}
                    
                    {% endif %}
                    <h3 class="bgc_claro px-3 text-center">Turma: {{ turma.nome }}</h3>
                    <p>Código: {{ turma.codigo }}</p>
                    <p>Professor: {{ turma.professor }}</p>
                    <a href="{% url 'questionarios' turma.codigo %}"><button type="button" class="btn m-3 pr-3 pl-3 btn_geral">Questionários</button></a>
                </article>
            </section>
        </main>
        <object class="w-100 obj_footer" data="{% static 'assets/paginas/footer.html' %}" type="text/html"></object>
        <script src="{% static 'assets/js/script.js' %}"></script>
    </body>
</html>