<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'assets/bootstrap_4.1.3_dist/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="shortcut icon" href="{% static 'assets/imgs/logo.png' %}" type="image/x-icon">
        <title>Turma</title>
    </head>
    <body>
        <button class="custom-range:focus d-flex form-inline position-fixed rounded rolar_cima p-2 grad_amarelo" onclick="voltar_cima();">
            <img class="w-100 rounded" src="{% static 'assets/imgs/seta_cima.png' %}" alt="">
        </button>
        <header class="text-white">
            <nav class="navbar navbar-light bg-transparent">
                <div class="container-fluid">
                    <div class="navbar-brand w-auto"><a href="{% url 'index' %}"><img class="rounded p-1 grad_amarelo" src="{% static 'assets/imgs/logo.png' %}" alt=""> SPA</a></div>

                    <div class="d-flex">
                        <a class="btn_nav rounded mr-2 ml-2" href="{% url 'perfil' %}">Perfil</a>

                        <!-- BOTAO DE SAIR DO SITE -->
                        <button type="button" class="btn_nav rounded mr-2 ml-2" onclick="abrir_modal('vis_modal')">Sair</button>

                    </div>

                    <!-- MODAL PARA USUARIO CONFIRMAR SE DESEJA SAIR DO SITE -->
                    <div class="position-fixed w-100 pt-5 modal_sair" id="vis_modal">
                        <div class="conteudo_modal m-auto bg-light rounded text-center">
                            <div>
                                <h3 class="p-3 my-0 py-0">Tem certeza que deseja sair do site?</h3>
                            </div>
                            <div>
                                <button type="button" class="btn m-3 pr-3 pl-3 btn_geral" onclick="fechar_modal('vis_modal')">Voltar</button>
                                <a href="{% url 'logout' %}"><button type="button" class="btn m-3 pr-3 pl-3 btn_geral">Sair</button></a>
                            </div>
                        </div>
                    </div>
                    <!-- FIM MODAL -->

                </div>
            </nav>
        </header>
        <main>
            <section class="m_lados_15 text-white border rounded p-3 fonte_p">
                <article class="text-white rounded my-3">
                    <div class="d-flex">
                        <a class="grad_amarelo rounded sombra mr-2 sombra quadrado_40 pt-1" href="{% url 'minhas_turmas' %}"><img class="rounded" src="{% static 'assets/imgs/seta_esquerda.png' %}" alt=""></a>
                        <h3 class="px-3 text-center">Turma: {{ turma.nome }}</h3>   
                    </div>
                </article>
                <article class="">
                    {% if messages %}
                    <div class="alert-container">
                        {% for message in messages %}
                        {% if message.tags == "success" %}
                        <p class="alert-success my-2 p-2 rounded"> {{ message }}</p>
                    </div>
                        {%else%}
                        <p class="alert-danger my-2 p-2 rounded"> {{ message }}</p>
                        {% endif %}
                        {% endfor %}
                    
                    {% endif %}
                    <p>Código: {{ turma.codigo }}</p>
                    <p>Capacidade: {{ turma.capacidade }}</p>
                    <p>Quantidade de Alunos: {{ turma.quantidade_alunos }}</p>
                    <a href="{% url 'questionarios' turma.codigo %}"><button type="button" class="btn m-3 pr-3 pl-3 btn_geral">Questionários</button></a>
                    <button type="button" class="btn m-3 pr-3 pl-3 btn_geral trocar_img" onclick="abrir_modal('vis_modal_editar_turma')">Editar Turma <img class="trocar_img_1" src = "{% static 'assets/imgs/lapis_1.png' %}"><img class="trocar_img_2" src="{% static 'assets/imgs/lapis_2.png' %}"></button>
                    <!-- MODAL PARA EDITAR TURMA -->
                    <article class="position-fixed w-100 pt-5 modal_sair" id="vis_modal_editar_turma">
                        <div class="conteudo_modal m-auto bg-light rounded text-center">
                            <div>
                                <form class="form mt-2 w-100 bgc_claro rounded p-1 pb-2 shadow" action="{% url 'editar_detalhes_turma' turma.codigo %}" method="POST">
                                    {% csrf_token %}
                                    <h3 class="text-white">Editar Turma</h3>

                                    <label class="row m-2 fonte_media" for="nome">Nome da turma:</label>
                                    <input class="rounded w-100 mb-3" type="text" id="nome" name="nome" placeholder="Nome de turma" value="{{ turma.nome }}" required>
                
                                    <label class="row m-2 fonte_media" for="capacidade">Capacidade:</label>
                                    <input class="rounded w-25 mb-3" type="number" min="1" id="capacidade" name="capacidade" placeholder="Número máximo de alunos" value="{{ turma.capacidade }}" required>
                                    <p></p>
                                    <button type="button" class="btn m-3 pr-3 pl-3 btn_geral" onclick="fechar_modal('vis_modal_editar_turma')">Voltar</button>
                                    <button class="btn m-3 pr-3 pl-3 btn_geral">Salvar</button>      
                                </form>
                            </div>
                        </div>
                    </article>
                    <!-- FIM MODAL -->
                </article>
                <h3 class="bgc_claro px-3 text-center">Alunos</h3>
                {% if turma.quantidade_alunos < turma.capacidade %}
                <form class="form mt-2 w-100 bgc_claro rounded p-2 px-4 shadow" action="{% url 'adicionar_aluno' turma.codigo %}" method="POST">
                    {% csrf_token %}
                    <h3>Adicionar Aluno</h3>

                    <label class="row m-2 fonte_media" for="aluno">Nome de usuário:</label>
                    <input class="rounded w-100 mb-3" type="text" id="aluno" name="aluno" placeholder="Nome de usuário" required>
                    <button class="btn_nav rounded row m-auto" type="submit">Adicionar</button>    
                </form>
                {% else %}
                <p>Turma cheia, não é possível adicionar mais alunos.</p>
                {% endif %}
                {% for aluno in alunos %}
                <article class="m_lados_15 d-flex py-1 px-3 border">
                    <div class="w-50">
                        {{ aluno.username }}
                    </div> 
                    <div class="w-50 text-right">
                        <a href="{% url 'remover_aluno' turma.codigo aluno.username %}"><button class="btn_geral rounded">Remover Aluno</button></a>
                    </div>
                </article>
                {% endfor %}
                <button type="button" class="btn m-3 pr-3 pl-3 btn_geral" onclick="abrir_modal('vis_modal_excluir_turma')">Excluir Turma</button>
                <!-- MODAL PARA CONFIRMAR EXCLUIR TURMA -->
                <div class="position-fixed w-100 pt-5 modal_sair" id="vis_modal_excluir_turma">
                    <div class="conteudo_modal m-auto bg-light rounded text-center">
                        <div>
                            <h4 class="p-3 my-0 py-0">Você tem certeza que quer excluir a turma {{ turma.nome }}? Esta ação é irreversível! </h4>
                        </div>
                        <div>
                            <button type="button" class="btn m-3 pr-3 pl-3 btn_geral" onclick="fechar_modal('vis_modal_excluir_turma')">Voltar</button>
                            <a href="{% url 'excluir_turma' turma.codigo %}"><button type="button" class="btn m-3 pr-3 pl-3 btn_geral">Excluir Turma</button></a>
                         </div>
                    </div>
                </div>
                <!-- FIM MODAL -->
            </section>
        </main>
        <object class="w-100 obj_footer" data="{% static 'assets/paginas/footer.html' %}" type="text/html"></object>
        <script src="{% static 'assets/js/script.js' %}"></script>
    </body>
</html>