{% extends "base_generic.html" %}

{% block content %}
<div style="text-align: center" class="container">
    <h2>Editar Usuário</h2>
    <form method="post">
        {% csrf_token %}
        <p>Nome: <input type="text" name="username" value="{{ user.username }}" required></p>
        <p>E-mail: <input type="email" name="email" value="{{ user.email }}" required></p>
        <p>Nova Senha: <input type="password" name="password" placeholder="Deixe vazio para manter a senha atual"></p>
        <p>Confirmar Nova Senha: <input type="password" name="cpassword" placeholder="Confirme a nova senha"></p>
        <button type="submit">Salvar Alterações</button> <!-- esses negocios de placeholder é uma mao na roda pqp -->
    </form>
    <a href="{% url 'home' %}">Voltar para a página inicial</a>
</div>
{% endblock %}