{% extends "base_generic.html" %}

{% block content %}
<form action="{% url 'excluir_usuario' %}" method="post"></form>
    <div style="text-align: center" class="container">
        <h2>Excluir Usuário</h2>
        <form method="post">
            {% csrf_token %}
            <p>Digite seu ID de Usuário para confirmar a exclusão:</p>
            <input type="text" name="usuario_id" placeholder="ID do Usuário">
            <button type="submit">Excluir Usuário</button>
        </form>
        <a href="{% url 'home' %}">Voltar para a página inicial</a>
    </div>
</form>
{% endblock %}
