{% extends "base_generic.html" %}

{% block content %}
<form action="{% url 'remover_aluno' %}" method="post">
    {% csrf_token %}
    <div style="text-align: center" class="container">
        <p>Turmas:
            <select name="turma">
                {% for turma in turmas %}
                    <option value="{{ turma.codigo }}">{{ turma.nome }}</option>
                {% endfor %}
            </select>
        </p>
        <p>Nome de usuário do aluno: <input name="aluno" type="text"></p>
        <p><button type="submit">Remover aluno</button></p>
    </div>
</form>
<a href="{% url 'home'%}">Clique aqui para retornar.</a>
{% endblock %}