:root{
    --amarelo_claro: #F1E168;
    --ciano_medio: #6EB7C8;
    --ciano_claro: #B6F5FE;
    --azul_marinho: #093D65;
    --azul: #28647E;
}

footer{
    background-color: var(--azul_marinho);
}
html, body{
    padding: 0;
    margin: 0;
}
header{
    background-color: var(--azul_marinho);
}

main{
    background-color: var(--azul);
}

header>nav>div>div>a>img{
    background-color: var(--ciano_medio);
}

.img_livros{
    width: 300px;
}
.w_85{
    width: 85%;
}