:root{
    --amarelo_claro: #F1E168;
    --ciano_medio: #6EB7C8;
    --ciano_claro: #B6F5FE;
    --azul_marinho: #093D65;
    --azul: #28647E;
}

html, body{
    padding: 0;
    margin: 0;
}
main{
    background-color: var(--azul);
}
header{
    background-color: var(--azul_marinho);
}
footer{
    background-color: var(--azul_marinho);
}
.img_livros{
    width: 300px;
}